<div class="main" *ngIf="!data.no_data">
    <span class="text-1">Tak właśnie jeździsz, {{name}}</span>

    <div class="">
        <h3 *ngIf="season.name !== 'custom'">Podsumowanie sezonu <span style="font-weight: bold;">{{season.name}}</span></h3>
        <h3 *ngIf="season.name === 'custom'">Podsumowanie od {{ formatDate(season.startValue) }} do {{ formatDate(season.endValue) }}</h3>
        <div class="">
            <p class="">W tym czasie <span style="font-weight: bold;">{{data.total_rides}}</span> razy wypożyczyłeś rower</p>
            <p class="" pTooltip="Dystans liczony według najkrótszych tras między stacjami według Map Google">Całkowity przejechany dystans: <span style="font-weight: bold;">{{data.total_distance/1000}} km</span> <i class="pi pi-question-circle"></i></p>
            <p class="">W tym tyle zarobiłeś: <span style="font-weight: bold;">{{data.total_gain}} zł</span></p>
            <p class="">A tyle wydałeś: <span style="font-weight: bold;">{{data.total_cost}} zł</span></p>
            
            <p class="">Całkowity czas: <span style="font-weight: bold;">{{data.total_time}} minut</span></p>
            <p class="">W najdłuższą podróż wybrałeś się z <span style="font-weight: bold;">{{data.longest_ride.start_place}}</span> do <span style="font-weight: bold;">{{data.longest_ride.end_place}}</span> i przejechałeś conajmniej <span style="font-weight: bold;">{{data.longest_ride.distance}} m!</span></p>
        </div>
    </div>

    <h5 class="">Najczęstsze trasy</h5>

    <div class="topdiv">
        <div class="top" *ngFor="let ride of data.top_rides">

                <div class="list-group-item" >{{ride[0]}} - {{ride[1]}}</div>
                <div class="list-group-item" >{{ride[2]}} razy</div>

        </div>
    </div>
    <div class="p-fluid" style="border-radius: 6px;">
        <p-image [src]="data.map" alt="Mapa przejazdów" class="image" width="400" [preview]="true"></p-image>
    </div>

</div>
<div class="center-div"  *ngIf="data.no_data">
    <div class="no-data">

        <span class="text-1">Nie jeździłeś w tym sezonie...</span>
        <span *ngIf="season.name!='custom'" class="text-2">Wsiadaj na rower albo wybierz inny sezon.</span>
        <span *ngIf="season.name==='custom'" class="text-2">Wsiadaj na rower albo wybierz inny przedział czasu.</span>
    </div>
</div>


