
<body class="bg-funky">
    <div class="min-h-screen p-6 ph-10p md:p-10" *ngIf="!data.no_data">
      <header class="mb-8">
        <div class="flex items-center justify-between">
          <div class="p-4 rounded-lg  m-auto">
            <img style="cursor: pointer;" (click)="goToLogin()" src="../../../assets/images/logo-transparent.png" class="w-full">
          </div>
          
        </div>

        <div class="calendar-modal">
          <div class="modal-backdrop" (click)="hideCalendar()"></div>
          <div class="modal-content">
            <p-calendar
              #calendar
              [(ngModel)]="dates"
              [readonlyInput]="true"
              [showButtonBar]="false"
              [inline]="true"
              [selectionMode]="'range'">
              <ng-template pTemplate="footer">
                <div class="calendar-footer">
                  <p-button
                    label="Anuluj"
                    class="calendar-button1"
                    (onClick)="hideCalendar()"
                  ></p-button>
                  <p-button
                    label="Zatwierdź"
                    class="calendar-button2"
                    (onClick)="selectSeason({name: 'custom', startValue: this.dates[0].getTime()/1000, endValue: this.dates[1].getTime()/1000})"
                  ></p-button>
                </div>
              </ng-template>
            </p-calendar>
          </div>
        </div>
      </header>
  
      <main>
        <div style="padding-bottom: 4rem;">
        <span *ngIf="isOriginal()" class="text-1">Hej {{data.name}}, dobrze Cię widzieć!</span>
        <span *ngIf="!isOriginal()" class="text-1">Podsumowanie użytkownika {{data.name}}</span>

        </div>
        <div>
          
          <p style="font-size: x-large;">
            Oto <span *ngIf="isOriginal()">twoje </span>podsumowanie {{data.season_name.length == 4 ? 'sezonu ' : 'dni '}} <span style="font-weight: bold;">{{data.season_name}}</span>. <span *ngIf="!isOriginal()">Jesteś ciekaw swojego? <span style="cursor: pointer; font-weight: bold;" (click)="goToLogin()">Kliknij tutaj!</span></span> <span *ngIf="isOriginal()">Wybierz <a style="font-weight: bold; cursor: pointer;" (click)="showCalendar()">inny przedział czasu</a></span>
          </p>


  
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-6 mb-8">
            <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-2"><p pTooltip="Dystans liczony według najkrótszych tras między stacjami według Map Google">Przejechany dystans <i class="pi pi-question-circle"></i></p></h2>
              <p class="text-4xl font-bold"  >{{ (data.total_distance / 1000).toFixed(1) }} km</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-2">Wydane pieniądze</h2>
              <p class="text-4xl font-bold">{{ data.total_cost }} zł</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-2">Całkowity czas</h2>
              <p class="text-4xl font-bold">{{floor(data.total_time / 60) }} h, {{ (data.total_time % 60).toFixed(0) }} min</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-md">
              <h2 class="text-2xl font-bold mb-2">Liczba przejazdów</h2>
              <p class="text-4xl font-bold">{{ data.total_rides }}</p>
            </div>
          </div>
  
          <div class="bg-white p-6 rounded-lg shadow-md mb-8">
            <h2 class="text-2xl font-bold mb-4">Najdłuższy przejazd</h2>
            <div class="flex items-center justify-between">
              <div>
                <p class="text-lg font-semibold">{{data.longest_ride.start_place}}</p>
                <p class="text-lg font-semibold">{{data.longest_ride.end_place}}</p>
              </div>
              <div class="dada">
                <img src="assets/images/startstop.png" alt="start stop" class="h-16">
                </div>

              <div>
                <p class="text-4xl font-bold">{{(data.longest_ride.distance / 1000).toFixed(1)}} km</p>
                <p class="text-4xl font-bold">{{(data.longest_ride.time / 60).toFixed(0)}} min</p>
              </div>
            </div>
          </div>
  
          <div class="bg-white p-6 rounded-lg shadow-md mb-8">
            <h2 class="text-2xl font-bold mb-4">Najczęstsze przejazdy</h2>
            <div class="space-y-4 ">
              <div class="flex items-center justify-between bg-neutral-100 p-4 rounded-md  ride-top3 mb-2" *ngFor="let ride of data.top_rides">
                <div>
                  <p class="font-semibold">{{ ride[0] }} - {{ ride[1] }}</p>
                  <p class="text-sm text-neutral-600">{{ ride[2] }} razy</p>
                </div>
              </div>
            </div>
          </div>
  
          <div class="bg-white p-6 rounded-lg shadow-md mb-8">
            <h2 class="text-2xl font-bold mb-4">Mapka twoich tras</h2>
            <div class="bg-neutral-300 hwe rounded-md flex items-center justify-center overflow-hidden">
              <img [src]="data.map" alt="Mapa przejazdów" class="image" (click)="openModal()">
            </div>
          </div>

          <div class="bg-white p-6 rounded-lg shadow-md mb-8">
            <h2 class="text-2xl font-bold mb-4">Podoba Ci się?</h2>
            <div class="flex items-center space-x-4">
              <p class="font-semibold">Udostępnij znajomym link do twojego podsumowania! Chcesz postawić mi piwko za włożoną pracę?</p>
              <a href='https://ko-fi.com/L4L513X0K4' target='_blank'>
                <img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi3.png?v=3' border='0' alt='Buy Me a Coffee at ko-fi.com' />
              </a>
            </div>
            </div>
          </div>


          <div id="imageModal" class="modal hidden" (click)="closeModal($event)">
            <img class="modal-content" id="modalImage">
          </div>


      </main>
    </div>
  
    <div class="center-div" *ngIf="data.no_data">
      <div class="no-data">
        <span class="text-1">Nie jeździłeś w tym sezonie...</span>
        <span *ngIf="season.name!='custom'" class="text-2">Wsiadaj na rower albo wybierz inny sezon.</span>
        <span *ngIf="season.name==='custom'" class="text-2">Wsiadaj na rower albo wybierz inny przedział czasu.</span>
      </div>
    </div>
  </body>
  