* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.left-panel {
    display: flex;
    flex-direction: column; /* Change to column layout */
    justify-content: space-between; /* Distribute space between elements */
    width: 50%;
    height: 100%;
    transition: width 0.5s ease; /* Adding smooth transition */
    background-color: rgb(106, 145, 169);
}

.footer-wrapper {
    margin-top: auto; /* Push the footer to the bottom */
}


    .p-button-icon {
      font-size: 1.5rem !important;
    }


    ::ng-deep .pi{
        font-size: 1.5rem !important;
    
    }


.right-panel {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #faf9f5;
}

.baner {
    padding: 42px;
    width: 80%;
    font-size: x-large;
    text-align: center;
}

:host ::ng-deep .p-inputnumber, .p-inputwrapper, .p-password-input, rect  {
    width:100% !important
}

.img_holder{
    display: flex;
    justify-content: center;
    margin-top: 20px;

}



.auth {
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 70%;
}

.relog{
    margin-top: auto;
    margin-bottom: 30px;
}

.link{
    font-weight: bold;
    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
}

.pfluid{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.big-bike{
    width: 32px;
    margin-left: auto;
    margin-right: auto;

}

.logo{
    width: 70%;
    padding-bottom: 20%;
    margin-left: auto;
    margin-right: auto;

}

.rect {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    width: 100%;
}


.warning {
    color: red;
    margin-top: 10px;
    font-size: 14px;
}

.text-1 {
    font-size: 64px;
    padding-bottom: 60px;
}
.text-2 {
    font-size: 30px;
    margin-top: 72px;
}

::ng-deep .rect > .p-button {
    background: #6a92aa !important;
}




.footer {
    width: 100%;
    padding: 20px;
    display: flex;
    bottom: 0;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    margin-top: auto;
}


.circle-link{
    padding: 10px;
}
.pfluid2 {
    padding: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}




/* Hide left panel on mobile */
@media only screen and (max-width: 768px) {
    .left-panel {
        width: 0;
        overflow: hidden;
    }
    .right-panel {
        width: 100%;
    }
}

/* Centerize the login banner */
@media only screen and (max-width: 768px) {
    .right-panel .baner {
        padding: 20px;
    }
}