<div class="main">
    <div class="left-panel">
        <!-- Content for left panel -->
        <div class="pfluid2">

            <p class="text-1">Każdy lubi statystyki...</p>
            

            <p class="text-2">Noo to sprawdź swoje --></p>
        </div>
        

        <!-- <div class="img_holder">
            <img src="../../assets/images/bike3.png" alt="bike" class="big-bike">
        </div> -->

        <div class="footer-wrapper">
            <div class="footer">
                <a href="https://github.com/ziembar/NextbikeWrapped"><p-button size="small" class="circle-link gh" [outlined]="true" icon="pi pi-github" [rounded]="true" severity="secondary"></p-button></a>
                <a href="https://www.instagram.com/bartekwbani/"><p-button size="small" class="circle-link ig" [outlined]="true"  icon="pi pi-instagram" [rounded]="true" severity="warning"></p-button></a>
                <p-button size="small" class="circle-link fb" [outlined]="true" icon="pi pi-facebook" [rounded]="true" severity=""></p-button>
            </div>
        </div>
        



    </div>
    <div class="right-panel">


        <img src="../../assets/images/logo.png" alt="logo" class="logo">


        <div *ngIf="!duringReset()" class="baner">Zaloguj się do swojego konta Nextbike</div>
        <div *ngIf="duringReset()" class="baner">Zresetuj hasło do konta Nextbike. OBECNIE DZIWNE RZECZY SIE DZIEJA PRZEZ ROZLACZENIE NEXTBIKE I VETURILO, NA WLASNA ODPOWIEDZIALNOSC</div>

        <form [formGroup]="auth" class="form" (ngSubmit)="submitAction()">
            <div class="p-fluid pfluid" style="width: 100%;">

                
                    <p-inputNumber 
                    #inputnumber
                        placeholder="Wpisz numer telefonu"
                        [useGrouping]="false"
                        class="rect"
                        [step]=""
                        formControlName="phone"
                        [prefix]="selectedCountry.prefix"
                        [showButtons]="true"
                        buttonLayout="horizontal" >
                        <ng-template pTemplate="incrementbuttonicon"></ng-template>

                        <ng-template pTemplate="decrementbuttonicon" >
                    <p-dropdown 
                        [options]="countries"
                        appendTo="body"
                        [(ngModel)]="selectedCountry"
                        [ngModelOptions]="{standalone: true}"
                        [showClear]="true"
                        [ngStyle]="{'border': 'none'}">
                        
                        <ng-template pTemplate="dropdownicon"></ng-template>
                        <ng-template pTemplate="clearicon"></ng-template>

                        <ng-template pTemplate="selectedItem">
                            <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                                <img 
                                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                    [class]="'flag flag-' + selectedCountry.code.toLowerCase()"
                                    />
                            </div>
                        </ng-template>
                        <ng-template let-country pTemplate="item">
                            <div class="flex align-items-center gap-2" style="min-width: 4rem;">
                                <img 
                                    src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                                    [class]="'flag flag-' + country.code.toLowerCase()" 
                                    />
                            </div>
                        </ng-template>
                    </p-dropdown>
                </ng-template>
                    </p-inputNumber>

                <p-password *ngIf="!duringReset()" placeholder="Wpisz pin" class="rect" styleClass="p-password p-component p-inputwrapper p-input-icon-right"class="rect" formControlName="pin" [feedback]="false"></p-password>
                
                <p-button *ngIf="!duringReset()"  class="rect button" label="Zaloguj" type="submit" [disabled]="!auth.valid"></p-button>
                <p-button *ngIf="duringReset()"  class="rect button" label="Resetuj pin" type="submit" [disabled]="!auth.get('phone').valid"></p-button>
            
            </div>
            <i class="pi pi-spin pi-spinner" *ngIf="loading()"></i>

            <div class="error" *ngIf="error() && !loading()">
            <span>{{error_message}}</span>
            
            </div>
        </form>


        <div *ngIf="!duringReset()" class="relog"><span>Zgubiłeś pin? <span class="link"><a style="font-weight: bold;" (click)="toggleResetPage()">Kliknij tutaj aby go zresetować</a></span></span></div>
        <div *ngIf="duringReset()" class="relog"><span>Pamiętasz pin? <span class="link"><a style="font-weight: bold;" (click)="toggleResetPage()">Kliknij tutaj aby się zalogować</a></span></span></div>
        
        <div class="relog" *ngIf="authorized()"><span>{{name}}? <span class="link"><a (click)="this.router.navigate(['/summary']);">Kliknij aby przejść dalej</a></span></span></div>

        
    </div>
</div>

<p-toast></p-toast>
