<div class="main">
<p class="text-1">Wybierz okres czasu do podsumowania</p>

<ng-container>
  <div class="seasons">
    <div class="season" *ngFor="let season of seasons">
      <p-button
        class="season-button"
        (click)="selectSeason(season)"
        ><span style="margin: auto;">
        {{ season.name }}
        </span>
      </p-button>
    </div>
    <div class="season">
      <p-calendar
        #calendar
        [(ngModel)]="dates"
        [touchUI]="true"
        [showIcon]="true"
        [showButtonBar]="false"
        [hideOnDateTimeSelect]="false"
        [selectionMode]="'range'"
        [showSeconds]="true"
        [showOnFocus]="false">
        <ng-template pTemplate="footer">
          <div class="calendar-footer">
            <p-button
              label="Anuluj"
              class="calendar-button1"
              (onClick)="calendar.hideOverlay()"
            ></p-button>
            <p-button
              label="Zatwierdź"
              class="calendar-button2"
              (onClick)="selectSeason({name: 'custom', startValue: this.dates[0].getTime()/1000, endValue: this.dates[1].getTime()/1000})"
            ></p-button>
          </div>



      </ng-template>
      </p-calendar>
    </div>
  </div>

</ng-container>
